@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
    background: url(images/bg-pattern-top-desktop.svg) left top no-repeat, 
    url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
    min-height: 100vh;
    font-family: League Spartan;
    font-weight: 400;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main{
    display:grid;
    width: 1110px;
    height: 600px; 
    margin:auto;
    margin-top: 120px;
    border-radius: 17.5px;
    grid-template-areas:
		    "header ratings"
			"reviews reviews";
    grid-template-rows: 340px 500px;
}

h1 {
    
    grid-area: header;
    text-align: left;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    width: 350px;
    
    
}

#para{
    margin-top: 200px;
    grid-area: header;
    color: hsl(303, 10%, 53%);
    line-height: 20px ;
    width: 450px;
    font-size: 18px;
    line-height: 25px;
}

#w{
    padding-bottom: 20px;
}

.stars{
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top:50px;
}

.i{
    margin-right: 20px;
}

.stars section{
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    margin-bottom:20px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    width:380px;
    height: 40px;
    font-weight: bolder;
    color: hsl(300, 43%, 22%);
    padding-left: 40px;
    padding-bottom: 15px;
}

.stars #two{
    margin-left:50px;
}

.stars #three{
    margin-left:100px;
}

section{  
    grid-area: 20px;
    grid-area: reviews;
    display: flex;
    flex-direction: row;
}

.review{
	background-color:hsl(300, 43%, 22%);
	color: white;
	padding: 10px;
	padding-left: 35px;
    padding-top: 35px;
	border-radius: 10px;  
    width: 290px;
    height: 200px;
    margin-right:30px;
    margin-top: 10px;
}

.user {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
    font-size: 15px;
}

.user p {
	font-weight: 500;
}

#irene{
    margin-top: 30px;
}

#anne{
    margin-top: 50px;
}

.user img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.user span {
    color: hsl(333, 80%, 67%);
	font-weight: 400;
}


.text {
	line-height: 1.5;
}

blockquote{
    margin-left: 0px;
    width: 258px;
    font-size: 15px;
}

.line-break {
    line-height: 25px;
}